<body class="parag">
	<h1 id="name" > Muluken Taye </h1>

	<%= image_tag "mul.png", :size => '400x480' %>

	<h3> 
		<span class="origin"> I'm from Ethiopia</span>, senior, EECS major.<br>
		<span class="fun_fact"> I had little interest watching Basketball and I was into soccer. However, I have become a big Warriors fan in the last few years :) </span>
	</h3>
	
</body>