<div>
  <h2>Student Information</h2>
  <h4>Student's name</h4>
  <h3>
    <%= @name %>
  </h3>
  <h4>ID number</h4>
  <h3>
    <%= @id %>
  </h3>
  <h4>Major</h4>
  <h3>
    <%= @major %>
  </h3>
</div>